<main>
  <nav>
    <app-logo></app-logo>
  </nav>
  <div class="container page">
    <!-- info -->
    <div class="info">
      <h1>job <span>tracking</span>app</h1>
      <p>
        Crucifix narwhal street art asymmetrical, humblebrag tote bag pop-up
        fixie raclette taxidermy craft beer. Brunch bitters synth, VHS crucifix
        heirloom meggings bicycle rights.
      </p>
      <!-- <router-link to="/register" class="btn btn-hero">Login/Register</router-link> -->
    </div>
    <img :src="main" alt="job hunt" class="img main-img" />
  </div>
</main>
